{{#each patches as |patch|}}
  <div data-id="{{patch.id}}" class="patch-item">
    <span>{{patch.name}}</span>
    <button class="btn btn-lg btn-success load-patch-button">Load!</button>
  </div>
{{/each}}
