{{#each patches as |patch|}}
  <div data-id="{{patch.id}}" class="patch-item">
    <span>{{patch.name}}</span>
    {{!-- <button class="btn btn-block btn-success load-patch-button">Load!</button> --}}
    <button class="btn btn-block btn-out btn-fade btn-green">Load this patch</button>
  </div>
{{/each}}
