$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Cuprum:700|Days+One);
@import 'normalize';
@import 'osc';

$bgcolor: #222;
$lightblue: #99f;

body {
  background-color: $bgcolor;
  color: #eee;
  font-family: 'Cuprum';
  font-variant: small-caps;
}

.main-title {
  font-family: 'Days One';
  margin: .35em;

}

button,
input {
  font-family: 'Cuprum';
}

button {
  text-transform: uppercase;
}

input {
  font-variant: normal;
}

.nav form,
.nav ul {
  display: inline-block;
}

input,
option,
select {
  background-color: $bgcolor;
}

input {
  font-size: 18px;
  width: 100%;
}

.nav ul {
  list-style: none;
  li {
    display: inline-block;
  }
}

.btn-auth {
  background-color: $bgcolor;
  border: 1px solid lime;
  width: 48%;
  transition: background-color .3s, color .3s;
  color: lime;
}

.btn-auth:hover {
  background-color: lime;
  color: $bgcolor;
}

.btn-auth.selectyes,
.btn-auth.selectyes:active,
.btn-auth.selectyes:focus
{
  background-color: $bgcolor;
  border: 1px solid lime;
  width: 24%;
  transition: background-color .3s, color .3s;
  color: lime;
}

.btn-auth.selectyes:hover {
  background-color: lime;
  color: $bgcolor;
}

.btn-auth.selectno {
  background-color: $bgcolor;
  border: 1px solid red;
  width: 24%;
  transition: background-color .3s, color .3s;
  color: red;
}

.btn-auth.selectno:hover {
  background-color: red;
  color: $bgcolor;
}

.error-display {
  color: red;
}

.error-display-fade {
  color: $bgcolor;
  transition: color 1s;
}

.patch-name-input,
.patch-name-display,
.confirm-patch-action-display
{
  font-size: 28px;
}

.btn-show,
.btn-show:active,
.btn-show:focus
{
  background-color: $bgcolor;
  color: $lightblue;
  border: 1px solid $lightblue;
  transition: background-color .3s, color .3s;
}

.btn-show:hover {
  background-color: $lightblue;
}

.btn-confirm {
  background-color: $bgcolor;
  color: lime;
  border: 1px solid lime;
  transition: background-color .3s, color .3s;
}

.btn-confirm:hover {
  background-color: lime;
}

.btn-cancel {
  background-color: $bgcolor;
  color: red;
  border: 1px solid red;
  transition: background-color .3s, color .3s;
}

.btn-cancel:hover {
  background-color: red;
}

.btn-save {
  background-color: $bgcolor;
  color: blue;
  border: 1px solid blue;
  transition: background-color .3s, color .3s;
}

.btn-save:hover {
  background-color: blue;
}

.synth-auth-div {
  display: inline-block;
}

.patch-item {
  background-color: #444;
  // border: 2px solid #afa;
  border-radius: 10px;
  color: #afa;
  font-size: 20px;
  margin-bottom: 4px;
  padding: 8px;
}

.patch-item > span {
  display: inline-block;
  width: 100%;
}

.btn.load-patch-button {
  background-color: #000;
  border: 1px solid lime;
  transition: background-color .3s, color .3s;
}

.btn.load-patch-button:hover {
  background-color: lime;
  color: #000;
}

.virtual-keyboard-wrapper {
  margin: 0 auto;
  width: 753px;
  border: 5px solid #ddd;
}

// Fix misaligned keys on the keyboard
.virtual-keyboard * {
  box-sizing: content-box;
}

// Don't want them ugly LIGHT THEMES BLEARGH
.modal-content {
  text-align: center;
  background-color: $bgcolor;
  color: #eee;
}

.close,
.close:hover {
  color: #eee;
}

// Temp stuff for visualiztion only
.col-md-3 {
  // border: 1px solid white;
}

// .patches-bar {
//   text-align: center;
//   background-color: $bgcolor;
//   border: 1px solid #aaa;
//   height: 100%;
//   width: 320px;
//   position: fixed;
//   left: -320px;
//   top: 0;
//   box-sizing: border-box;
//   z-index: 10;
//   transition: left 0.3s;
// }
//
// .patches-popout {
//   left: 0;
// }

/**************************
*  Left and right modals  *
**************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}
