$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'normalize';
@import 'osc';

body {
  background-color: #222;
  color: #eee;
}

input,
option,
select {
  color: #222;
}

.nav ul {
  list-style: none;
  li {
    display: inline-block;
  }
}
