
.knob-div {
  // border: 1px solid white;
  box-sizing: border-box;
  display: inline-block;
  // margin-left: .1em;
  // margin-right: .1em;
  text-align: center;
}

.knob-div.side {
  margin-top: 1em;
}

.env-div {
  margin: 1px;
  display: inline-block;
  // border: 1px solid white;
  box-sizing: border-box;
}
